<header class="header">
  <div class="header__text">
    <a class="header__link" href="/">
      {{ data.title }}
    </a>
    <p class="header__description">{{ data.subtitle }}</p>
    <p class="header__hosts">
      У микрофона
      {%- for author in data.authors -%}
        {%- if loop.last %} и{%- endif %}
        <a href="{{ author.url }}">{{ author.name }}</a>
        {%- if loop.length - loop.index >= 2 %},{%- endif %}
      {%- endfor -%}
      .
    </p>
    <p class="header__description">Пишите нам на <a href="mailto:hello@radioimmigrant.com">hello@radioimmigrant.com</a></p>
  </div>
  <div class="header__cover">
    <img width="180" src="/assets/images/immigrantcast@2x.jpg">
    <div class="header__rating">
      <a rel="noreferrer noopener" href="https://podcasts.apple.com/ru/podcast/%D0%B8%D0%BC%D0%BC%D0%B8%D0%B3%D1%80%D0%B0%D0%BD%D1%82%D0%BA%D0%B0%D1%81%D1%82/id1333969136#see-all/reviews">
        ★★★★★<br />
        Топ-отзывы в Эппл подкастах
      </a>
    </div>
  </div>
</header>
