<div class="subscribe">
  <h3 class="subscribe__title">Где подписаться</h3>
  <ul class="subscribe__list">
    <li><a target="_blank" rel="noreferrer noopener" href="https://podcasts.apple.com/podcast/id1333969136?mt=2">Apple Podcasts</a></li>
    <li><a target="_blank" rel="noreferrer noopener" href="https://podcasts.google.com/feed/aHR0cDovL3d3dy5zcHJlYWtlci5jb20vc2hvdy8yNjgzODc3L2VwaXNvZGVzL2ZlZWQ">Google Podcasts</a></li> 
    <li><a target="_blank" rel="noreferrer noopener" href="https://overcast.fm/itunes1333969136">Overcast</a></li>
    <li><a target="_blank" rel="noreferrer noopener" href="https://pca.st/tg3Q">Pocket Casts</a></li>
    <li><a target="_blank" rel="noreferrer noopener" href="https://castro.fm/itunes/1333969136">Castro</a></li>
    <li><a target="_blank" rel="noreferrer noopener" href="https://open.spotify.com/show/1FmavcfoB43uSIBnrJDox1">Spotify</a></li>
    <li><a target="_blank" rel="noreferrer noopener" href="https://music.yandex.ru/album/8771140">Я.Музыка</a></li>
    <li><a target="_blank" rel="noreferrer noopener" href="https://www.spreaker.com/show/2683877/episodes/feed">RSS</a></li>
    <li><a target="_blank" rel="noreferrer noopener" href="https://twitter.com/radioimmigrant/">Твиттер</a></li>
    <li><a target="_blank" rel="noreferrer noopener" href="https://t.me/immigrantcast">Телеграм</a></li>
  </ul>
  <p class="subscribe__patreon">
    <svg class="svg-icon subscribe__patreon-icon" width="16" height="16" viewBox="0 0 24 24"><path d="M0 .5h4.219v23H0z" fill="#212121"/><path d="M15.384.5C10.617.5 6.74 4.373 6.74 9.133c0 4.75 3.877 8.61 8.644 8.61 4.754 0 8.616-3.865 8.616-8.61C24 4.374 20.137.5 15.384.5z" fill="#f4511e"/></svg>
    Эксклюзивные бонус-эпизоды
    <a class="subscribe__patreon-link" target="_blank" rel="noreferrer noopener" href="https://patreon.com/immigrantcast">на Патреоне</a>
  </p>
</div>