<h3>Где подписаться</h3>

<ul>
  <li>Apple Podcasts</li>
  <li>Google Podcasts</li> 
  <li>Castbox</li>
  <li>Overcast</li>
  <li>Pocket Casts</li>
  <li>Castro</li>
  <li>Я.Музыка</li>
  <li>RSS</li>
</ul>