---
layout: page.njk
permalink: index.html
---

<div class="container">

  {% include 'header-index.njk' %}

  <main>

      {% include 'subscribe.njk' %}

      <h2 class="episode-list__title">Все эпизоды ({{ collections.episode.length }})</h2>

      {%- for episode in collections.episode | reverse -%}
        <article class="feature" id="e{{ episode.data.slug }}">
          <div class="feature__cover">
            <a href="{{ episode.url }}">
              <img width="150" src="{{ episode.data.cover or data.paths.relativeCover }}" loading="lazy">
            </a>
          </div>
          <div class="feature__description">
            <h3 class="feature__title">
              <a class="feature__link" href="{{ episode.url }}">
                {{ episode.data.title }}
              </a>
            </h3>
            {# {{ episode.template.frontMatter.content | excerpt }} #}
            {{ episode.templateContent | excerpt }}
          </div>
        </article>
      {%- endfor -%}

  </main>

  {% include 'footer.njk' %}

</div>
