---
title: "Проверка возраста в Британском интернете - выпуск 196"
date: 2025-08-19 02:00:08
slug: "2025-08-19-ep196-age-verification"
audio: "https://api.spreaker.com/download/episode/67411881/2025_08_19_icast_ep196_age_verification.mp3"
audioAlternative: "https://api.spreaker.com/download/episode/67411881/2025_08_19_icast_ep196_age_verification.mp3"
cover: "https://d3wo5wojvuv7l.cloudfront.net/t_rss_itunes_square_1400/images.spreaker.com/original/ce285c5655fa8d2263923d528930a97a.jpg"
length: 30360220
explicit: clean
tags: episode
---

Что делать если Спотифай требует ваш паспорт?  
  
00:00:00 Начало  
00:01:42 Съемки Спайдермена в Глазго  
00:12:23 Donkey Kong Bananza  
00:16:15 Подтверждение возраста в интернете  
00:24:41 Глобальный британский закон  
00:28:18 Способы обхода проверки возраста  
00:36:36 Политика вокруг закона про возраст  
00:40:52 Цензура кино в Британии 1900-х  
00:52:10 Бан на Заводной Апельсин  
00:56:29 The Gold  
  
* Съемки Спайдермена в Глазго https://www.bbc.co.uk/news/articles/ce3j9vxpgw9o  
* Почему фильмы про Нью-Йорк снимают в Глазго  
* Кража декораций Спайдермена https://www.thescottishsun.co.uk/tvandshowbiz/15164143/spiderman-brand-new-day-props-stolen/  
* Нью-Йоркские бегели которые на самом деле пончики  
* Donkey Kong BANANZA  
* Подтверждение возраста в интернете  
* Online Safety Bill  
* Наказание сервису за не проверку возраста своих пользователей  
* Петиция за отмену проверки возраста https://petition.parliament.uk/petitions/722903  
* GDPR как пример закона который всем надо исполнять  
* Как обходить проверку возраста с VPN и Death Stranding  
* Зачем в Спотифай проверка возраста  
* Государственное цифровое удостоверение личности и как это работает в Эстонии и Финляндии  
* Reform UK и отмена проверки возраста  
* Apple и отмена сильного шифрования в облаке в Британии https://www.bbc.co.uk/news/articles/cn524lx9445o  
* Obscene publications act - закон 1857-го года  
* Опасность похода в кино в начале 1900-х  
* Цензура кино в Британии  
* British Board of Film Censors  
* From the Manger to the Cross - скандальный фильм 1912-го года  
* https://en.wikipedia.org/wiki/From\_the\_Manger\_to\_the\_Cross  
* Список запрещенных тем в Британском кино 1900-х https://en.wikipedia.org/wiki/British\_Board\_of\_Film\_Classification#History\_and\_overview  
* Компьютерные игры и первые возрастные ограничения 1980-х  
* Заводной Апельсин и его запрет на территории Британии в 1970-х  
* Сериал от БиБиСи - The Gold https://www.bbc.co.uk/iplayer/episodes/p0dvdttj/the-gold  
  
Пишите письма: hello@radioimmigrant.com  
Становитесь патронами: https://patreon.com/immigrantcast  
ТГ канал: https://t.me/immigrantcast
