---
layout: page.njk
---

{% set isAbsoluteUrl = r/^(?:[a-z]+:)?\/\//i %}

{% if isAbsoluteUrl.test(audio) %}
  {% set audioUrl = audio %}
  {% set downloadAudioUrl = audio %}
{% else %}
  {% set audioUrl = data.paths.audioExternalStorage + audio %}
  {% set downloadAudioUrl = '/download/' + audio %}
{% endif %}

{% if audioAlternative %}
  {% set audioUrl = audioAlternative %}
  {% set downloadAudioUrl = audioAlternative %}
{% endif %}

<div class="container">
    {% include 'header-internal.njk' %}

    <main role="main">
        <div class="all-episodes">← <a href="/">Все эпизоды</a></div>
        <article class="episode content">
            <h1 class="episode__title p-name">{{ title }}</h1>
            <time class="episode__date dt-published" datetime="{{ date | htmlDateString }}">
                {{ date | readableDate }}
            </time>
            <audio id="episode-audio-player" class="episode__audio" src="{{ audioUrl }}" controls preload="metadata"></audio>
            <div class="episode__download">
                <a href="{{ downloadAudioUrl }}" download>Скачать mp3</a> (<a target="_blank" href="/assets/images/player-sony.jpg">?</a>)
            </div>
            <div class="content episode__content e-content">
                <img class="episode__cover" width="300" src="{{ cover or data.paths.relativeCover }}">
                {{ content | safe }}
            </div>
        </article>
    </main>

    {% include 'subscribe.njk' %}
    {% include 'footer.njk' %}
</div>
