---
layout: page.njk
---

{% set isAbsoluteUrl = r/^(?:[a-z]+:)?\/\//i %}
{% if isAbsoluteUrl.test(audio) %}
  {% set audioUrl = audio %}
{% else %}
  {% set audioUrl = 'https://s3-eu-west-1.amazonaws.com/archive.radioimmigrant.com/episodes/' + audio %}
{% endif %}

<div class="container">
    {% include 'header-internal.njk' %}

    <main>
        <div class="all-episodes">← <a href="/">Все эпизоды</a></div>
        <article class="episode content">
            <h1 class="episode__title">{{ title }}</h1>
            <time class="episode__date" datetime="{{ date | htmlDateString }}">
                {{ date | readableDate }}
            </time>
            <audio id="episode-audio-player" class="episode__audio" src="{{ audioUrl }}" controls preload="none"></audio>
            <span class="episode__download">
                <a href="/download/{{ audio }}" download>Скачать mp3</a> (<a target="_blank" href="/assets/images/player-sony.jpg">?</a>)
            </span>
            <div class="episode__content content">
                <img class="episode__cover" width="300" src="{{ cover or data.paths.relativeCover }}">
                {{ content | safe }}
            </div>
        </article>
    </main>

    {% include 'subscribe.njk' %}
    {% include 'footer.njk' %}
</div>
