<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title or metadata.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ data.description }}">

    <meta property="og:type" content="website">
    <meta property="og:title" content=" {{ title or data.title }}">
    <meta property="og:site_name" content="{{ description or data.description }}">
    <meta property="og:url" content="{{ data.paths.site }}{{ page.url }}">
    <meta property="og:image" content="{{ cover or data.paths.social }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content=" {{ title or data.title }}">
    <meta name="twitter:description" content="{{ description or data.description }}">
    <meta name="twitter:site" content="{{ data.paths.site }}{{ page.url }}">
    <meta name="twitter:image" content="{{ cover or data.paths.social }}">

    <link rel="alternate" type="application/rss+xml" href="{{ data.paths.feed }}" title="{{ data.title }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/immigrantcast32.png">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');
    </style> 

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    {{ content | safe }}
</body>
</html>